.form {
  margin: 0;
  /* height: 19rem; */
  max-height: 100%;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
  outline: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}
.actions .submit:disabled {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}

.actions .submit:disabled:hover,
.actions .submit:disabled:active {
  background-color: #aaa;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.textError {
  display: inline-block;
  margin-left: 1rem;
  color: #ca3e51;
}

.successPost {
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: green;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
}
